body {
  background: url('https://images.unsplash.com/photo-1682687220640-9d3b11ca30e5?ixlib=rb-4.0.3&ixid=M3wxMjA3fDF8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=2070&q=80');
}

div {
  width: 200px;
  height: 200px;
  background: yellow;
}

#div2{
  background: white;
}

.div2{
  background: black;
}

div{
  background: blueviolet;
}

p {
  color: red
}

.div1{
  background: red;
}

.text2{
  color:aqua
}

#hellotext{
  font-weight: bold;
}

div p{
  color: blue
}

.div3 p{
  color: pink
}

.div3 .text1{
  font-style: italic;
}

/* .div2 .text1{
  adlfkjdsl;fj;l
}

.div3 .text1{
  aasdflkjads;lfjl
} */

.div3 p{
  font-size: 12px
}

.div3 > p{
  font-size: 24px
}


input{
  background: gray;
}

input:focus{
  outline: none;
  outline: dashed;

  background: white
}

input[type="password"]{
  background-color: brown;
}

p[name="dolores"]{
  text-decoration: underline;
}

.hellotext:hover{
  color: white
}

.text1, .text2, .text3{
  /* font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif; */

  font-size: 10px


}
